@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Begum-Regular";
  src: url("../../assets/fonts/Begum-W03-Regular.ttf") format("truetype");
}
:root {
  --dark: #061214;
  --raleway: "Raleway", sans-serif;
}

* {
  font-family: var(--raleway);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
.font-begum {
  font-family: "Begum-Regular";
}

.font-number {
  font-family: "Montserrat", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.bg-primary {
  background-color: #455d58;
}

.floor,
.floor:nth-child(3) {
  opacity: 0;
  animation: toggleOpacity 6s infinite;
}

.floor:nth-child(2),
.floor:nth-child(4) {
  animation-delay: 3s;
}

@keyframes toggleOpacity {
  0%, 20% {
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
}

